@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "NanumSquareNeo-Variable" !important;
}
body,
html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  width: 480px;
}

main {
  flex: 1 0 auto;
  height: auto;
  min-height: 90vh;
}

footer {
  height: 90px;
}

/*BookmarkPage */
.BookmarkPage {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.orange {
  color: orange;
}

.BookmarkPage_top {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  justify-content: space-between;
}

.BookmarkPage_checkedNum {
  font-size: 12px;
}

.btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
  cursor: pointer;
}

.BookmarkContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

.BookmarkIsNullContainer {
  text-align: center;
  margin: 5rem 0;
}
